@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
}

.content {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.content__title,
.content__input,
.content__button,
.content__result,
.content__erro {
    margin-bottom: 15px;
}

.content__input {
    width: 450px;
    padding: 15px 20px;
    border-radius: 50px;
    background: transparent;
    border: solid 1px white;
}

.content__button {
    padding: 13px 50px;
    border-radius: 30px;
    border: solid 1px white;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
}

.content__button:hover {
    color: black;
    background: white;
}

/* Remove Arrows Input/Number */
.content__input::-webkit-outer-spin-button,
.content__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content__erro,
.content__result {
    display: none;
}

.content__erro,
.content__input::placeholder {
    color: rgb(190, 190, 190);
}

.content__erro,
.footer__icon-red {
    color: red;
}